<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BetterHere.Web</title>
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body class="@ViewData["BodyColorClass"]">
    <style>
        #header.alt {
            /*background-color: transparent;*/
            background-color: @(ViewData["BodyColorExplicit"]);
        }
    </style>
    <div class="test">
        <div class="test page-header">
            <div>
                <!-- Header -->
                <header id="header" class="alt">
                    <div class="logo">
                        <a asp-controller="Home" asp-action="Index">
                            <img src="~/images/BetterHere.png" style="width:48px;height:48px;max-width: 100%; height: auto;" /> 
                            Better Here <span>by Better Here</span>
                        </a>
                    </div>
                    <a href="#menu">Menu</a>
                </header>
                <!-- Nav -->
                <nav id="menu">
                    <ul class="links">
                        <li><a asp-area="" asp-controller="Establishments" asp-action="Index">Establishments</a></li>
                        <li><a asp-area="" asp-controller="TypeEstablishments" asp-action="Index">Type Establishments</a></li>
                        <li><a asp-area="" asp-controller="TypeFoods" asp-action="Index">Type Food</a></li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li><a asp-area="" style="text-decoration: underline;" asp-controller="Account" asp-action="ChangeUser">@User.Identity.Name</a></li>
                            <li><a asp-area="" asp-controller="Account" asp-action="Logout">Logout</a></li>
                        }
                        else
                        {
                            <li><a asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
                        }


                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <partial name="_CookieConsentPartial" />
    <div class="body-content @ViewData["BodyColorClass"]">
        @RenderBody()
        <hr />

        <!-- Footer -->
        <footer id="footer" class="footer-zone">
            <div class="container">
                <ul class="icons">
                    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
                </ul>
            </div>
            <div class="copyright">
                &copy; Better Here. All rights reserved.
            </div>
        </footer>

    </div>

    @RenderSection("Scripts", required: false)
    <!-- Scripts -->
    <script src="~/js/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="~/js/jquery.scrollex.min.js"></script>
    <script src="~/js/skel.min.js"></script>
    <script src="~/js/util.js"></script>
    <script src="~/js/main.js"></script>


</body>
</html>
